/* Google Fonts */
/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUtiZTaR.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUJiZTaR.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'wordsgameicons';
    src: url('../fonts/wordsgame-icons-webfont.woff2') format('woff2'),
         url('../fonts/wordsgame-icons-webfont.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@keyframes victory {
    0%, 20% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(5px);
    }
    60% {
        transform: translateY(-15px);
    }
    80% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    /* letter size = 60px on 1024px width and 40px on 320px
    // divider = on max width (1024px - 320px) / 60px - 40px
    // 704 / 20 = 35.2 */
    --key-size: clamp(40px, calc(40px + (100vw - 320px) / 35), 60px);
    /* letter size = 70px on 1024px width and 45px on 320px
    // divider = on max width (1024px - 320px) / 70px - 45px
    // 704 / 25 = 28.1 */
    --gameField-size: clamp(45px, calc(45px + (100vw - 320px) / 28), 70px);
    /* letter size = 32px on 1024px width and 18px on 320px
    // divider = on max width (1024px - 320px) / 32px - 18px
    // 704 / 14 = 30.2 */
    --header-size: clamp(18px, calc(18px + (100vw - 320px) / 50), 32px);
    /* letter size = 22px on 1024px width and 18px on 320px
    // divider = on max width (1024px - 320px) / 22px - 18px
    // 704 / 4 = 176 */
    --menu-items-fsz: clamp(18px, calc(18px + (100vw - 320px) / 176), 22px);
    /* letter size = 20px on 1024px width and 14px on 320px
    // divider = on max width (1024px - 320px) / 20px - 14px
    // 704 / 6 = 117.3 */
    --modal-desc: clamp(14px, calc(14px + (100vw - 320px) / 117), 20px);

    --font-color: #111;
    --background-color: #f3f3f3;
    --clr-wrong: rgb(204, 204, 204);
    --clr-alert: rgb(252, 206, 0);
    --clr-found: rgb(17, 221, 17);
    --shadow: rgba(0, 0, 0, 0.4);
    --overlay: rgba(255, 255, 255, 0.8);
    
    color: var(--font-color);
    background-color: var(--background-color);
}

.dark-theme {
    --font-color: #f3f3f3;
    --background-color: #111;
    --clr-wrong: rgb(95, 94, 94);
    --clr-alert: rgb(168, 137, 0);
    --clr-found: rgb(7, 88, 7);
    --shadow: rgba(255, 255, 255, 0.5);
    --overlay: rgba(0, 0, 0, 0.8);
}

.transition {
    transition: background-color .2s ease-in-out;
}

html,
body {
    height: 100%;
}

ul,
li {
    list-style: none;
}

.gameHeader {
    width: 100%;
    max-width: calc(12 * var(--key-size));
    height: 10%;
    min-height: 40px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gameHeader__menubtn,
.gameHeader__themebtn {
    display: flex;
    aspect-ratio: 1;
    height: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    font-family: 'wordsgameicons', 'Oswald', sans-serif;
    font-size: calc(var(--header-size) * 1.8);
    cursor: pointer;
    user-select: none;
}

.gameHeader__logo {
    font-size: var(--header-size);
    flex-grow: 1;
    text-align: center;
}

.gameHeader__menu {
    position: fixed;
    top: 0;
    width: clamp(150px, 30%, 320px);
    padding: 20px;
    transform: translateY(-110%);
    z-index: 100;
    font-size: var(--menu-items-fsz);
    background-color: var(--background-color);
    box-shadow: 1px 1px 2px var(--shadow);
    transition: transform .2s ease-in-out,
                background-color .2s ease-in-out,
                box-shadow .2s ease-in-out;
}

.gameHeader__menu-opened {
    transform: translateY(0);
}

.gameHeader__menu-close {
    position: absolute;
    top: 0;
    left: 100%;
    width: calc(var(--header-size) * 2);
    font-family: 'wordsgameicons', 'Oswald', sans-serif;
    font-size: calc(var(--header-size) * 1.8);
    line-height: calc(var(--header-size) * 2);
    border-radius: 0 0 10px;
    cursor: pointer;
    user-select: none;
    background-color: var(--background-color);
    box-shadow: 1px 1px 2px var(--shadow);
    transition: background-color .2s ease-in-out,
                box-shadow .2s ease-in-out;
}

.gameHeader__menu-item {
    cursor: pointer;
}

.gameModal__wrapper {
    position: fixed;
    inset: 0;
    z-index: 200;
    padding: calc(var(--header-size) * 2);
    background-color: var(--overlay);
    opacity: 0;
}

.gameModal__wrapper-show {
    animation: show .4s ease-in-out normal forwards;
}

.gameModal {
    position: relative;
    width: 100%;
    max-width: calc(12 * var(--key-size));
    height: 100%;
    margin: auto;
    padding: calc(var(--header-size) * 2) 10px 10px;
    border-radius: 5px;
    background-color: var(--background-color);
    box-shadow: 2px 2px 4px var(--shadow);
    overflow: hidden;
}

.gameModal__content {
    height: 100%;
    min-height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}

.gameModal__content-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameModal__content .gameField__row {
    z-index: auto;
}

.gameModal__closebtn {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(var(--header-size) * 2);
    font-family: 'wordsgameicons', 'Oswald', sans-serif;
    font-size: calc(var(--header-size) * 1.8);
    line-height: calc(var(--header-size) * 2);
    cursor: pointer;
}

.gameModal__title,
.gameModal__subtitle,
.gameModal__description {
    margin-bottom: 10px;
}

.gameModal__title {
    font-size: calc(var(--modal-desc) * 1.6);
    line-height: calc(var(--modal-desc) * 1.8);
    font-weight: 600;
}

.gameModal__description,
.gameModal__example-wordDesc {
    font-size: var(--modal-desc);
    line-height: calc(var(--modal-desc) * 1.1);
    font-weight: 100;
    letter-spacing: 1px;
}

.gameModal__subtitle {
    font-size: calc(var(--modal-desc) * 1.3);
    line-height: calc(var(--modal-desc) * 1.5);
    font-weight: 500;
}

.gameModal__example {
    padding-bottom: 10px;
}

.gameModal__example-word {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}

.gameModal__example-letter {
    display: flex;
    width: calc(var(--modal-desc) * 1.5);
    align-items: center;
    justify-content: center;
    font-size: calc(var(--modal-desc) * 1.1);
    line-height: calc(var(--modal-desc) * 1.5);
    font-weight: 400;
    border: 1px solid var(--font-color);
}

.gameModal__example-inplace {
    background-color: var(--clr-found);
}

.gameModal__example-inword {
    background-color: var(--clr-alert);
}

.gameModal__example-wrong {
    background-color: var(--clr-wrong);
}

.gameModal__line {
    margin: 15px 0;
    border-width: 0 0 1px;
    border-color: var(--shadow);
}

.gameModal__row-header,
.gameModal__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 2px;
    font-size: calc(var(--modal-desc) * .75);
    line-height: var(--modal-desc);
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    border: solid var(--font-color);
    border-width: 0 0 1px;
    box-shadow: inset 0 0 7px var(--overlay);
}

.gameModal__row-item {
    flex-shrink: 0;
    flex-grow: 0;
}

.gameModal__row-word {
    width: 20%;
}

.gameModal__row-id {
    width: 15%;
}

.gameModal__row-tries {
    width: 15%;
    text-overflow: ellipsis;
}

.gameModal__row-time {
    width: 45%;
}

.gameModal__btn {
    margin-top: 50px;
    padding: 8px 12px;
    border: 1px solid var(--font-color);
    border-radius: clamp(3px, calc(1vw - 1vh / 2), 6px);
    box-shadow: inset 0 0 3px 1px var(--shadow);
    cursor: pointer;
    user-select: none;
}

.gameWrapper {
    width: 100%;
    max-width: 1024px;
    height: 90%;
    min-height: 360px;
    margin: 0 auto;
}

.gameField__wrapper {
    position: relative;
    height: 60%;
    overflow: hidden;
    box-shadow: inset 0 0 10px 10px var(--background-color);
    transition: box-shadow .2s ease-in-out;
}

.gameField {
    height: 100%;
    padding: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.gameField::-webkit-scrollbar {
    width: 0;
}


.gameField__row {
    position: relative;
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    z-index: -1;
    opacity: 0;
    animation: show 0.2s ease-in-out normal forwards;
}

.gameField__letter {
    flex-shrink: 0;
    width: var(--gameField-size);
    height: var(--gameField-size);
    text-align: center;
    line-height: var(--gameField-size);
    font-size: calc(var(--gameField-size) * 0.7);
    border: 1px solid var(--font-color);
    transition: background-color .2s ease-in-out,
                border-color .2s ease-in-out;
}

.gameField__letter-victory {
    animation: victory 1000ms ease calc(200ms * var(--index));
}

.gameField__alert {
    position: fixed;
    width: 200px;
    height: 50px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--clr-alert);
    font-size: 1em;
    line-height: 50px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 1s ease-in-out;
}
.gameField__alert-hide {
    opacity: 0;
}

.gameKeyboard {
    position: relative;
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: center;
    padding: 0 calc(1vw + 1vh);
    z-index: 10;
}

.gameKeyboard__line {
    display: flex;
    align-items: center;
    justify-content: center;
}
.gameKeyboard__key {
    width: var(--key-size);
    height: var(--key-size);
    text-align: center;
    font-size: calc(var(--key-size) * .7);
    line-height: var(--key-size);
    border: 1px solid var(--font-color);
    border-radius: clamp(3px, calc(1vw - 1vh / 2), 6px);
    box-shadow: inset 0 0 3px 1px var(--shadow);
    cursor: pointer;
    user-select: none;
    transition: border-color .2s ease-in-out,
                box-shadow .2s ease-in-out;
}


.gameKeyboard__key-special {
    font-family: 'wordsgameicons', 'Oswald', sans-serif;
    width: calc(var(--key-size) * 1.5);
    font-size: calc(var(--key-size) * .75);
}

@media screen and (max-width: 480px) {
    .gameKeyboard {
        padding: 0 5px;
    }
}