@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@font-face {
    font-family: 'wordsgameicons';
    src: url('../fonts/wordsgame-icons-webfont.woff2') format('woff2'),
         url('../fonts/wordsgame-icons-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    transition: background-color .2s ease-in-out,
                border-color .2s ease-in-out,
                box-shadow .2s ease-in-out;
}

body {
    /* letter size = 60px on 1024px width and 40px on 320px
    // divider = on max width (1024px - 320px) / 60px - 40px
    // 704 / 20 = 35.2 */
    --key-size: clamp(40px, calc(40px + (100vw - 320px) / 35), 60px);
    /* letter size = 70px on 1024px width and 45px on 320px
    // divider = on max width (1024px - 320px) / 70px - 45px
    // 704 / 25 = 28.1 */
    --gameField-size: clamp(45px, calc(45px + (100vw - 320px) / 28), 70px);
    /* letter size = 32px on 1024px width and 18px on 320px
    // divider = on max width (1024px - 320px) / 32px - 18px
    // 704 / 14 = 30.2 */
    --header-size: clamp(18px, calc(18px + (100vw - 320px) / 50), 32px);

    --font-color: #111;
    --background-color: #f3f3f3;
    --clr-wrong: rgb(204, 204, 204);
    --clr-alert: rgb(252, 206, 0);
    --clr-found: rgb(17, 221, 17);
    --shadow: rgba(0, 0, 0, 0.4);

    color: var(--font-color);
    background-color: var(--background-color);
}

body.dark-theme {
    --font-color: #f3f3f3;
    --background-color: #111;
    --clr-wrong: rgb(95, 94, 94);
    --clr-alert: rgb(168, 137, 0);
    --clr-found: rgb(7, 88, 7);
    --shadow: rgba(255, 255, 255, 0.5);
}

html,
body {
    height: 100%;
}

.gameHeader {
    width: 100%;
    max-width: calc(12 * var(--key-size));
    height: 10%;
    min-height: 40px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gameHeader__settingsbtn,
.gameHeader__themebtn {
    display: flex;
    aspect-ratio: 1;
    height: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    font-family: 'wordsgameicons', 'Oswald', sans-serif;
    font-size: calc(var(--header-size) * 1.8);
    cursor: pointer;
    user-select: none;
}

.gameHeader__logo {
    font-size: var(--header-size);
    flex-grow: 1;
    text-align: center;
}

.gameWrapper {
    width: 100%;
    max-width: 1024px;
    height: 90%;
    min-height: 360px;
    margin: 0 auto;
}

.gameField__wrapper {
    position: relative;
    height: 60%;
    overflow: hidden;
    box-shadow: inset 0 0 10px 10px var(--background-color);
}

.gameField {
    height: 100%;
    padding: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.gameField::-webkit-scrollbar {
    width: 0;
}


.gameField__row {
    position: relative;
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    z-index: -1;
    opacity: 0;
    animation: show-row 0.2s ease-in-out normal forwards;
}

@keyframes show-row {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.gameField__letter {
    flex-shrink: 0;
    width: var(--gameField-size);
    height: var(--gameField-size);
    text-align: center;
    line-height: var(--gameField-size);
    font-size: calc(var(--gameField-size) * 0.7);
    border: 1px solid var(--font-color);
}
.gameField__alert {
    position: fixed;
    width: 200px;
    height: 50px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--clr-alert);
    font-size: 1em;
    line-height: 50px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 1s ease-in-out;
}
.gameField__alert-hide {
    opacity: 0;
}

.gameKeyboard {
    position: relative;
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: center;
    padding: 0 calc(1vw + 1vh);
    z-index: 10;
}

.gameKeyboard__line {
    display: flex;
    align-items: center;
    justify-content: center;
}
.gameKeyboard__key {
    width: var(--key-size);
    height: var(--key-size);
    text-align: center;
    font-size: calc(var(--key-size) * .7);
    line-height: var(--key-size);
    border: 1px solid var(--font-color);
    border-radius: clamp(3px, calc(1vw - 1vh / 2), 6px);
    box-shadow: inset 0 0 3px 1px var(--shadow);
    cursor: pointer;
    user-select: none;
}

.gameKeyboard__key-special {
    font-family: 'wordsgameicons', 'Oswald', sans-serif;
    width: calc(var(--key-size) * 1.5);
    font-size: calc(var(--key-size) * .75);
}

@media screen and (max-width: 480px) {
    .gameKeyboard {
        padding: 0 5px;
    }
}